openai==0.28
langchain
pinecone-client
pydantic
fastapi
uvicorn 
transformers
whisper
pyttsx3 
SpeechRecognition
langchain-community 
langchain-openai
pdfplumber
pandas
schedule
python-multipart 
python-jose[cryptography] 
python-dotenv
pyjwt
pypdf2
scikit-learn
joblib